body {
    font-family: "Raleway", sans-serif;
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    overflow: hidden;
    background: rgb(255,142,8);
    background: linear-gradient(168deg, rgba(255,142,8,1) 0%, rgba(255,113,32,1) 15%, rgba(255,74,65,1) 44%, rgba(255,36,101,1) 83%, rgba(255,29,107,1) 94%, rgba(255,8,125,1) 100%);
        
    color: white;
}
.all{
    display: grid;
    margin-bottom: 5rem;
}
.orange{
    width: 90%;
    height: 7px;
    background-color: rgb(241, 155, 75);
}
.w3-image {

margin-left: auto;
margin-right: auto;

}
.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.comb {
    display: flex;
    justify-content: center;
}

#myName,
#myName2 {
    font-size: 26pt;
    margin-right: .5rem;

}

#myName {
    color: #eb4c24;
    margin-left: .5rem;
}

#myName2 {
    color: #f79420;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 0;
}


.navigation {
    overflow: hidden;
    top: 0;
    z-index: 100;
    width: 100%;
    margin-top: 3rem;
    

}
.titlee{
    margin-top: 10rem;
    font-size: 50pt;
    font-weight: 300;
}
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: 20pt;
    margin-right: 1rem;
    margin-top: 1rem;

}

.navbar {
    margin-right: 6rem;

}

.logo {
    float: left;
    margin-left: 7rem;
    margin-top: 1rem;

}

.comb {
    float: left;
    color: white;
    font-size: 18pt;
    margin-top: 2rem;
    font-family: "Minion Variable Concept";

}

.logo img {
    width: 110px;
    height: 60px;

}

.butto {
    display: -webkit-inline-box;
    display: inline-flex;
    height: 50px;
    width: 200px;
    margin-top: 2rem;
    text-decoration: none;
    font-size: 12pt;
    letter-spacing: 1.5px;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    overflow: hidden;
      border-radius: 15px;
      background: rgb(255,142,8);
  
  }
  
  a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  #butto-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
      
  }
  
  #butto-2 a {
    position: relative;
    -webkit-transition: all .35s ease-Out;
    transition: all .35s ease-Out;
  }
  
  #slid {
    width: 100%;
    height: 100%;
    left: -200px;
    background-color: white;
    position: absolute;
    -webkit-transition: all .35s ease-Out;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #butto-2:hover #slid {
    left: 0;
  }
  
  #butto-2:hover a {
    color: rgb(255,142,8);
  color: linear-gradient(15%, rgba(255,74,65,1) 44%, rgba(255,36,101,1) 83%, rgba(255,29,107,1) 94%, rgba(255,8,125,1) 100%);;
  }
      