body {
    font-family: "Raleway", sans-serif;
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    overflow: hidden;
    background-image: url("https://i.ibb.co/X4KyyW4/Untitled-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.comb {
    display: flex;
    justify-content: center;
}

#myName,
#myName2 {
    font-size: 26pt;
    margin-right: .5rem;

}

#myName {
    color: #eb4c24;
    margin-left: .5rem;
}

#myName2 {
    color: #f79420;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 0;
}


.navigation {
    overflow: hidden;
    top: 0;
    z-index: 100;
    width: 100%;
    margin-top: 3rem;


}

.titlee {
    margin-top: 10rem;
    font-size: 50pt;
    font-weight: 300;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: 20pt;
    margin-right: 1rem;
    margin-top: 1rem;

}

.navbar {
    margin-right: 6rem;

}

.logo {
    float: left;
    margin-left: 7rem;
    margin-top: 1rem;

}

.comb {
    float: left;
    color: white;
    font-size: 18pt;
    margin-top: 2rem;
    font-family: "Minion Variable Concept";

}

.logo img {
    width: 110px;
    height: 60px;

}

.thanh4 {
    background: rgb(255, 142, 8);
    background: linear-gradient(90deg, rgba(255, 142, 8, 1) 20%, rgba(255, 113, 32, 1) 40%, rgba(255, 74, 65, 1) 60%, rgba(255, 36, 101, 1) 80%, rgba(255, 8, 125, 1) 100%);
    width: 310px;
    height: 5px;
}

#name2 {
    margin-bottom: 1rem;
}

.Myname {
    font-size: 50pt;
    display: grid;
    justify-content: center;
    text-align: center;
}

.title2 {
    font-size: 19pt;
    margin-top: 2rem;
}
.all{
    display: flex;
    margin: 2rem;
    justify-content: center;
    position: relative;
}
.orangetitle{
    width: 562px;
    height: 60px;
    background: rgb(255, 142, 8);
    text-align: center;
    padding-top: 1rem;
    font-size: 16pt;
    z-index: 100;
    border: 1px solid rgb(255, 142, 8);
}
.picelement {
    margin-left: 1rem;
    border: 1px solid rgb(255, 142, 8);
}
.picelement2 {
    margin-right: 1rem;
    border: 1px solid rgb(255, 142, 8);
}


.picelement img:hover,
.picelement2 img:hover{
    opacity: 1;
}
#overlay{
    position:absolute;
    top:0;
    left:18.7%;
    bottom: 60px;
    right: 50.8%;
    background-color:#ed1c24;
    opacity: .3;
}
#overlay2{
    position:absolute;
    top:0;
    left:50.8%;
    bottom: 60px;
    right: 18.6%;
    background-color:#ed1c24;
    opacity: .3;
}
#overlay:hover,#overlay2:hover{
    opacity: 0;
}
li a{
    text-decoration: none;
}